<div class="container-fluid">
  <div class="row" style="background-color:black">
    <div class="col-md-2">
      <h1 style="color:white">QuickKart</h1>
    </div>
    <div class="col-md-2" style="padding-top:20px">
      <a routerLink="/viewProducts" class="nav-link" style="color:white" href="#">View Products</a>
    </div>
    <div class="col-md-2" style="padding-top:20px">
      <a routerLink="/cart" class="nav-link" style="color:white" href="#">View Cart</a>
    </div>  <div class="col-md-2" style="padding-top:20px">
      <a routerLink="/viewPurchase" class="nav-link" style="color:white" href="#">View Purchases</a>
    </div>  <div class="col-md-2" style="padding-top:20px">
      <a routerLink="/rating" class="nav-link" style="color:white" href="#">View Rating</a>
    </div>
    <div class="col-md-2" style="padding-top:20px">
      <a class="nav-link" style="color:white" (click)="logOut()"href="#">Logout</a>
    </div>
  </div>

</div>
