<div *ngIf="commonLayout">
  <app-commom-layout></app-commom-layout>
</div>
<div *ngIf="customerLayout">
  <app-customer-layout></app-customer-layout>
</div>

<div class="myContent">
  <div class="jumbotron" style="text-align:center; margin-top:70px;">
    <h2>Quick Kart for you!!</h2>
    <p>
      Welcome to Quickkart! Log in to a world of smart shopping! Do not miss out on the Biggest Sale Ever.
      You will find the largest collection of products out here on lowest price deals!
      Low Shipping costs, multiple payment options and easy return policies are like cherries on the sundae!
    </p>
    <img class="img-responsive" src="../../assets/quickKart-images/quickKart.png" style="height:80px;width:605px;display:block;margin:0px auto;" />
  </div>
</div>
