<div class="container-fluid">
  <div class="row" style="background-color:black">
    <div class="col-md-2">
      <h1 style="color:white">QuickKart</h1>
    </div>
    <div class="col-md-2" style="padding-top:20px">
      <a routerLink="/viewProducts" class="nav-link" style="color:white" href="#">View Products</a>
    </div>
    <div class="col-md-2" style="padding-top:20px">
    </div>  <div class="col-md-2" style="padding-top:20px">
    </div>  <div class="col-md-2" style="padding-top:20px">
      <a routerLink="/login" class="nav-link" style="color:white" href="#">Login</a>
    </div>
    <div class="col-md-2" style="padding-top:20px">
      <a routerLink="/registerUser" class="nav-link" style="color:white" href="#">SignUp</a>
    </div>
  </div>

</div>



